In [16]:
import pandas as pd
import datetime

In [50]:
eventTypes = ['accidentsAndIncidents', 'roadwork', 'precipitation', 'deviceStatus', 'obstruction', 'trafficConditions']

In [2]:
trials = pd.read_csv("prediction_trials.tsv", sep="\t")

In [85]:
trials.head()

,trial_id,nw_lat,nw_lon,se_lat,se_lon,start,end
0,p_00000001,39.182985,-76.798663,39.170238,-76.778150,2015-02-01T00:00:00-05:00,2015-03-01T00:00:00-05:00
1,p_00000002,39.303607,-76.829335,39.296709,-76.806935,2016-01-08T00:00:00-05:00,2016-01-22T00:00:00-05:00
2,p_00000003,38.946840,-76.783484,38.931581,-76.761971,2015-03-01T00:00:00-05:00,2015-04-01T00:00:00-05:00
3,p_00000004,38.996686,-77.159555,38.982995,-77.140682,2015-01-01T00:00:00-05:00,2015-02-01T00:00:00-05:00
4,p_00000005,39.283366,-76.562381,39.265534,-76.544242,2016-04-05T00:00:00-05:00,2016-04-14T00:00:00-05:00

In [80]:
def findYear(row):
    years = ['2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']
    for year in years:
        if(year in str(row['closed_tstamp'])):
            return int(year)
    for year in years:
        if(year in str(row['created_tstamp'])):
            return int(year)
    for year in years:
        if(year in str(row['confirmed_tstamp'])):
            return int(year)

In [54]:
events = pd.read_csv("events_train.tsv", sep="\t")

In [59]:
events = events[events.event_type.isin(eventTypes)]

In [61]:
events.groupby('event_type').size()

event_type
accidentsAndIncidents    550079
deviceStatus              38997
obstruction               32971
precipitation              4330
roadwork                 155896
trafficConditions         55663
dtype: int64

In [62]:
events['year'] = events.apply(lambda row : findYear(row), axis = 1)

In [90]:
current_trial = trials['trial_id'][0]
nw_lat = trials['nw_lat'][0]
nw_lon = trials['nw_lon'][0]
se_lat = trials['se_lat'][0]
se_lon = trials['se_lon'][0]

In [83]:
events_f = events[(events.latitude <= nw_lat) & (events.latitude >= se_lat)]

In [84]:
efg = events_f.groupby(['year', 'event_type']).size().unstack()
efg.fillna(0, inplace=True)
efg

event_type,accidentsAndIncidents,deviceStatus,obstruction,precipitation,roadwork,trafficConditions
year,,,,,,
2003,8.0,0.0,1.0,0.0,0.0,0.0
2004,29.0,0.0,1.0,0.0,0.0,0.0
2005,117.0,0.0,8.0,0.0,2.0,0.0
2006,87.0,0.0,2.0,0.0,1.0,1.0
2007,190.0,0.0,28.0,0.0,0.0,1.0
2008,228.0,0.0,16.0,0.0,16.0,0.0
2009,587.0,0.0,36.0,0.0,51.0,3.0
2010,769.0,0.0,26.0,0.0,34.0,1.0
2011,1004.0,64.0,78.0,1.0,107.0,0.0
2012,1723.0,65.0,113.0,0.0,141.0,2.0
2013,1485.0,56.0,114.0,1.0,184.0,2.0
2014,1393.0,60.0,106.0,0.0,438.0,1.0
2015,0.0,0.0,0.0,0.0,2.0,0.0

In [91]:
efg.to_csv('event_counts/' + current_trial, sep=',' , header = False)