In [1]:
import pandas as pd

In [2]:
flow_df = pd.read_csv('cleaning1/1160/flow.tsv', delimiter='\t', header=None)
speed_df = pd.read_csv('cleaning1/1160/speed.tsv', delimiter='\t', header=None)
occupancy_df = pd.read_csv('cleaning1/1160/occupancy.tsv', delimiter='\t', header=None)

In [40]:
df = pd.DataFrame({'A' : []})
del df['A']
df

Empty DataFrame
Columns: []
Index: []

In [41]:
seriesList = []
for col in flow_df:
    df[col] = pd.Series(data = list(zip(flow_df[col],speed_df[col], occupancy_df[col])))

In [42]:
df

                       0                1                2
0         (8, 68.0, 3.0)  (13, 67.0, 4.0)  (255, 0.0, 4.0)
1         (9, 67.0, 4.0)   (4, 60.0, 2.0)  (255, 0.0, 4.0)
2        (11, 66.0, 4.0)  (10, 64.0, 5.0)  (255, 0.0, 4.0)
3        (-8, 71.0, 3.0)   (3, 63.0, 1.0)  (255, 0.0, 4.0)
4         (5, 65.0, 2.0)   (9, 70.0, 3.0)  (255, 0.0, 4.0)
5         (7, 66.0, 2.0)  (10, 64.0, 4.0)  (255, 0.0, 4.0)
6         (6, 66.0, 2.0)   (6, 67.0, 3.0)  (255, 0.0, 4.0)
7         (0, 65.0, 0.0)   (3, 67.0, 2.0)  (255, 0.0, 4.0)
8        (10, 68.0, 4.0)   (8, 74.0, 3.0)  (255, 0.0, 4.0)
9         (7, 79.0, 3.0)   (3, 61.0, 2.0)  (255, 0.0, 4.0)
10       (10, 66.0, 6.0)   (7, 64.0, 4.0)  (255, 0.0, 4.0)
11        (5, 71.0, 3.0)  (10, 64.0, 5.0)  (255, 0.0, 4.0)
12        (9, 64.0, 4.0)   (3, 64.0, 4.0)  (267, 0.0, 4.0)
13       (14, 65.0, 6.0)   (7, 68.0, 2.0)  (255, 0.0, 4.0)
14        (7, 71.0, 3.0)   (9, 66.0, 3.0)  (255, 0.0, 4.0)
15        (7, 69.0, 3.0)   (9, 65.0, 4.0)  (255, 0.0, 4.0)
16        (5, 66.0, 2.0)   (3, 63.0, 1.0)  (255, 0.0, 4.0)
17       (13, 70.0, 6.0)  (11, 63.0, 4.0)  (255, 0.0, 4.0)
18        (3, 65.0, 1.0)   (6, 68.0, 2.0)  (255, 0.0, 4.0)
19        (7, 64.0, 2.0)  (19, 65.0, 2.0)  (255, 0.0, 4.0)
20        (8, 68.0, 4.0)   (9, 65.0, 4.0)  (255, 0.0, 4.0)
21        (9, 67.0, 5.0)   (3, 65.0, 1.0)  (255, 0.0, 4.0)
22        (6, 61.0, 2.0)   (5, 68.0, 2.0)  (255, 0.0, 4.0)
23        (5, 69.0, 2.0)   (6, 65.0, 3.0)  (255, 0.0, 4.0)
24        (5, 66.0, 2.0)   (4, 65.0, 2.0)  (255, 0.0, 4.0)
25       (10, 66.0, 4.0)   (9, 64.0, 4.0)  (255, 0.0, 4.0)
26        (3, 70.0, 1.0)   (6, 65.0, 2.0)  (255, 0.0, 4.0)
27        (8, 65.0, 4.0)   (8, 63.0, 4.0)  (255, 0.0, 4.0)
28       (11, 66.0, 4.0)   (6, 62.0, 3.0)   (4, 69.0, 2.0)
29        (5, 69.0, 2.0)   (5, 65.0, 2.0)   (4, 63.0, 2.0)
...                  ...              ...              ...
3775321    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (5, 0.0, 0.0)
3775322    (0, 0.0, 0.0)   (-5, 0.0, 0.0)    (0, 0.0, 0.0)
3775323    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (5, 0.0, 0.0)
3775324    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (5, 0.0, 0.0)
3775325    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (5, 0.0, 0.0)
3775326    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (3, 0.0, 0.0)
3775327    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (1, 0.0, 0.0)
3775328    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (5, 0.0, 0.0)
3775329    (3, 0.0, 0.0)    (0, 0.0, 0.0)    (4, 0.0, 0.0)
3775330    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (3, 0.0, 0.0)
3775331    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (2, 0.0, 0.0)
3775332    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (2, 0.0, 0.0)
3775333    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (1, 0.0, 0.0)
3775334    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (3, 0.0, 0.0)
3775335    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (1, 0.0, 0.0)
3775336    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (3, 0.0, 0.0)
3775337   (-1, 0.0, 0.0)    (0, 0.0, 0.0)    (4, 0.0, 0.0)
3775338   (-1, 0.0, 0.0)    (0, 0.0, 0.0)    (1, 0.0, 0.0)
3775339    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (3, 0.0, 0.0)
3775340    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (5, 0.0, 0.0)
3775341    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (6, 0.0, 0.0)
3775342    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (3, 0.0, 0.0)
3775343    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (3, 0.0, 0.0)
3775344    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (4, 0.0, 0.0)
3775345    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (5, 0.0, 0.0)
3775346    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (2, 0.0, 0.0)
3775347    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (5, 0.0, 0.0)
3775348    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (3, 0.0, 0.0)
3775349    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (3, 0.0, 0.0)
3775350    (0, 0.0, 0.0)    (0, 0.0, 0.0)    (5, 0.0, 0.0)

[3775351 rows x 3 columns]

In [44]:
def containsNeg(vec):
    if(vec[0] < 0):
        return 1
    elif(vec[1] < 0):
        return 1
    elif(vec[2] < 0):
        return 1
    else:
        return 0

In [57]:
containsNeg(df[0][3])

1